<header class="header fixed-top rad-animation-group" id="header">
  <div class="container rad-fade-in">
    <nav class="navbar navbar-expand-lg navbar-light p-0">
      <a class="navbar-brand" href="{{ .Site.BaseURL | absURL }}">
        <img
          class="img-responsive"
          src="img/logo_rohee_nettisivut.svg"
          alt="Rohee Logo"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent, #header"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ .Site.BaseURL | absURL }}">{{.Name | upper}}</a>
          </li>
          {{ range .Site.Menus.header }}
          <li class="nav-item">
            <a data-scroll class="nav-link" href="{{ .URL }}"
              >{{ .Name | upper }}</a
            >
          </li>
          {{ end }}
          <li class="nav-item">
            <div class="row platform-links">
              <div class="col-12">
                {{ range .Site.Data.homepage.home.socialLinks }}
                <a class="some-icon" href="{{ .URL | absURL }}" target="_blank" rel="noopener noreferrer"
                  ><i class="icon-{{ .icon }}-line"></i
                ></a>
                {{ end }}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
